<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>header</title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
</head> 
<body>
<div class="main">
	<div>
        @Html.Partial("_Header")
    </div>

    <div class="content">
        <div class="content_resize">
            <div class="sidebar">
                @Html.Partial("_Sidebar")
            </div>
            
            @RenderBody()
                
            <div class="clr"></div>
        </div>
    </div>
    
  <div class="fbg">
    <div class="fbg_resize">
      <div class="clr"></div>
    </div>
  </div>

</div>

<script type="text/javascript" src="@Url.Content("~/Content/scripts/jquery-1.7.1.min.js")"></script>

@RenderSection("Scripts",required: false)
</body>
</html>

